<!DOCTYPE html>
<html lang="es-ES"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{master.html}">
<head>
	<title>Clientes</title>
	<meta charset="UTF-8">
</head>
<body>

	<div class="container section" layout:fragment="contenido_personalizado">
		<!-- Content page-->
		<section class="full-box dashboard-contentPage">
			<!-- NavBar -->
			<nav class="full-box dashboard-Navbar">
				<ul class="full-box list-unstyled text-right">
					<li class="pull-left">
						<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
					</li>
				</ul>
			</nav>
			<!-- Content page -->
			<div class="container-fluid">
				<div class="page-header">
					<h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Usuarios <small> CLIENTES</small></h1>
				</div>
			</div>

			<div class="container-fluid">
				<ul class="breadcrumb breadcrumb-tabs">
					<li>
						<a th:href="@{/admin/clientes/nuevo}" class="btn btn-info">
							<i class="zmdi zmdi-plus"></i> &nbsp; NUEVO CLIENTE
						</a>
					</li>
					<li>
						<a th:href="@{/admin/clientes}" class="btn btn-success">
							<i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE CLIENTES
						</a>
					</li>
					<li>
						<a th:href="@{/admin/clientes/buscador}" class="btn btn-primary">
							<i class="zmdi zmdi-search"></i> &nbsp; BUSCAR CLIENTE
						</a>
					</li>
				</ul>
			</div>

			<!-- Panel nuevo administrador -->
			<div class="container-fluid">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; NUEVO CLIENTE</h3>
					</div>
					<div class="panel-body">
						<form th:action="@{''}" method="post" th:object="${cliente}">
							<fieldset>
								<legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información personal</legend>
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-sm-12">
											<div class="form-group">
												<label for="nombre" class="control-label">Nombres *</label>
												<input id="nombre"  pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,80}"
													   class="form-control"
													   type="text"
													   name="nombre-reg"
													   required=""
													   maxlength="80"
													   th:field="*{nombre}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{nombre}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="dni" class="control-label">Dni *</label>
												<input id="dni"  onkeypress="onBuscarDNI(event)" pattern="[0-9-]{1,30}"
													   class="form-control"
													   type="text"
													   name="dni-reg"
													   required=""
													   maxlength="30"
													   th:field="*{dni}"
													   th:errorclass="is-invalid"
													  >

												<div class="invalid-feedback" th:errors="*{dni}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="telefono" class="control-label">Teléfono</label>
												<input id="telefono"  pattern="[0-9+]{1,15}"
													   class="form-control"
													   type="text"
													   name="telefono-reg"
													   maxlength="15"
													   th:field="*{telefono}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{telefono}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="direccion" class="control-label">Direccion: Avenida/ Calle/ Jirón  - Nº *</label>
												<input id="direccion"
													   class="form-control"
													   name="direccion-reg"
													   required=""
													   rows="2"
													   maxlength="100"
													   th:field="*{direccion}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{direccion}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="departamento" class="form-select">Departamento *</label>
												<select id="departamento"
												        onchange="onListaProvincia()"
														class="form-control">
												</select>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="provincia" class="form-select">Provincia *</label>
												<select id="provincia"
														onchange="onListaDistrito()"
														class="form-control">
												</select>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="distrito" class="form-select">Distrito *</label>
												<select id="distrito"
														th:field="*{distrito}"
														class="form-control">
												</select>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend><i class="zmdi zmdi-key"></i> &nbsp; Datos de contacto</legend>
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group label-floating">
												<label for="correo" class="control-label">E-mail</label>
												<input id="correo"  class="form-control"
													   type="email"
													   name="email-reg"
													   maxlength="30"
													   required=""
													   th:field="*{correo}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{correo}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="tipo" class="form-select">Como se entero *</label>
												<select id="tipo"
														pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"
														class="form-control"
														type="select"
														name="select-reg"
														maxlength="30"
														required=""
														th:field="*{tipo}"
														th:errorclass="is-invalid">
													<option value="Seleccione una opcion">Seleccione una opcion</option>
													<option value="A DONDE VIVIR">A DONDE VIVIR</option>
													<option value="REDES SOCIALES">REDES SOCIALES</option>
												</select>
												<div class="invalid-feedback" th:errors="*{tipo}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="proyecto" class="form-select">Tipo de proyecto *</label>
												<select id="proyecto"
														pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"
														class="form-control"
														type="select"
														name="select-reg"
														maxlength="30"
														required=""
														th:field="*{proyecto}"
														th:errorclass="is-invalid">
													<option value="Seleccione una opcion">Seleccione una opcion</option>
													<option value="CONDOMINIO BICENTENARIO">CONDOMINIO BICENTENARIO</option>
													<option value="RESIDENCIAL COMP 475">RESIDENCIAL COMP 475</option>
												</select>
												<div class="invalid-feedback" th:errors="*{proyecto}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="creadate" class="control-date">Fecha Contacto *</label>
												<input id="creadate"
													   pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"
													   class="form-control"
													   type="date"
													   name="date-reg"
													   required=""
													   maxlength="30"
													   th:field="*{creadate}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{creadate}"></div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<br>
							<div class="text-center" style="margin-top: 20px;">
								<div style="display: inline-block;">
									<a th:href="@{/admin/clientes}" type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-close-circle zmdi-hc-lg"></i> CANCELAR</a>
								</div>
								<div style="display: inline-block; margin-left: 10px;">
									<button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy zmdi-hc-lg"></i> [[${cliente.id ne null ? 'Actualizar' : 'Guardar'}]] Cliente</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</section>
	</div>


	<!--====== Scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/sweetalert2.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/material.min.js}"></script>
	<script th:src="@{/js/ripples.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	
	<div layout:fragment="scripts">
	
		<script th:inline="javascript">		
		var idDistrito = [[${idDistrito}]]
		var idProvincia = [[${idProvincia}]]
		var idDepartamento = [[${idDepartamento}]]
		
		async function onListaDepartamento() {
			await $.ajax({
				url: '/Api/listaDepartamento',
				type: 'GET',
				dataType: 'json',
				data: { nivel: ''},
			})
				.done(function (data) {
					let option = `<option value="">---: SELECCIONE :---</option>`
					for (var i = 0; i < data.length; i++) {
						option += `<option value="${data[i].id}">${data[i].departamento} </option>`
					}
					$("#departamento").html(option);
					if(idDepartamento){
						$("#departamento").val(idDepartamento);
						onListaProvincia();
					}
					
				})
				.fail(function (err) {
					console.log(err);
					
				});
		}
		
		async function onListaProvincia() {
			await $.ajax({
				url: '/Api/listaProvincia',
				type: 'GET',
				dataType: 'json',
				data: { idDepartamento: $("#departamento").val() },
			})
				.done(function (data) {
					let option = `<option value="">---: SELECCIONE :---</option>`
					for (var i = 0; i < data.length; i++) {
						option += `<option value="${data[i].id}">${data[i].provincia} </option>`
					}
					$("#provincia").html(option);
					if(idProvincia){
						$("#provincia").val(idProvincia);
						onListaDistrito();
					}
					
				})
				.fail(function (err) {
					console.log(err);
					
				});
		}
		
		async function onListaDistrito() {
			await $.ajax({
				url: '/Api/listaDistrito',
				type: 'GET',
				dataType: 'json',
				data: {  idProvincia: $("#provincia").val() },
			})
				.done(function (data) {
					let option = `<option value="">---: SELECCIONE :---</option>`
					for (var i = 0; i < data.length; i++) {
						option += `<option value="${data[i].id}">${data[i].distrito} </option>`
					}
					$("#distrito").html(option);
					if(idDistrito){
						$("#distrito").val(idDistrito);
					}
				})
				.fail(function (err) {
					console.log(err);
					
				});
		}
		
		onListaDepartamento();

		
		</script>
	</div>
	
</body>
</html>









