<!DOCTYPE html>
<html lang="es-ES"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{master.html}">
<head>
	<title>Inmuebles</title>
	<meta charset="UTF-8">
</head>
<body>

	<div class="container section" layout:fragment="contenido_personalizado">
		<!-- Content page-->
		<section class="full-box dashboard-contentPage">
			<!-- NavBar -->
			<nav class="full-box dashboard-Navbar">
				<ul class="full-box list-unstyled text-right">
					<li class="pull-left">
						<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
					</li>
				</ul>
			</nav>
			<!-- Content page -->
			<div class="container-fluid">
				<div class="page-header">
					<h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Registros <small>INMUEBLES</small></h1>
				</div>
			</div>

			<div class="container-fluid">
				<ul class="breadcrumb breadcrumb-tabs">
					<li>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/inmuebles/nuevo}" class="btn btn-info">
							<i class="zmdi zmdi-plus"></i> &nbsp; NUEVO INMUEBLE
						</a>
					</li>
					<li>
						<a th:href="@{/inmuebles}" class="btn btn-warning">
							<i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE INMUEBLES
						</a>
					</li>
					
					<li>
						<a sec:authorize="hasRole('ADMIN')" th:href="@{/inmuebles/buscador}" class="btn btn-success">
							<i class="zmdi zmdi-search"></i> &nbsp; BUSCADOR DE INMUEBLES COMPRADOS
						</a>
					</li>
				</ul>
			</div>

			<!-- Panel nuevo administrador -->
			<div class="container-fluid">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="zmdi zmdi-plus"></i> &nbsp; NUEVO INMUEBLE</h3>
					</div>
					<div class="panel-body">
						<form th:action="@{''}" method="post" th:object="${inmueble}">
							<fieldset>
								<legend><i class="zmdi zmdi-account-box"></i> &nbsp; Información del Inmueble</legend>
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group label-floating">
													<label for="proyecto" class="form-select">Proyecto *</label>
												<select id="proyecto"
														pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,30}"
														class="form-control"
														type="select"
														name="select-reg"
														maxlength="30"
														required=""
														th:field="*{proyecto}"
														th:errorclass="is-invalid">
													<option value="Seleccione una opcion">Seleccione una opcion</option>
													<option value="CONDOMINIO BICENTENARIO">CONDOMINIO BICENTENARIO</option>
													<option value="RESIDENCIAL COMP 475">RESIDENCIAL COMP 475</option>
												</select>
												<div class="invalid-feedback" th:errors="*{proyecto}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="departamento" class="control-label">Departamento *</label>
												<input id="departamento"
													   class="form-control"
													   type="text"
													   name="departamento-reg"
													   maxlength="30"
													   th:field="*{departamento}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{departamento}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="precio_Departamento" class="control-label">Precio Departamento *</label>
												<input id="precio_Departamento"
													   class="form-control"
													   type="text"
													   name="precio_Departamento-reg"
													   maxlength="30"
													   th:field="*{precio_Departamento}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{precio_Departamento}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="area_Depa" class="control-label">Area *</label>
												<input id="area_Depa"
													   class="form-control"
													   type="text"
													   name="area_Depa-reg"
													   maxlength="30"
													   th:field="*{area_Depa}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{area_Depa}"></div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="precio_Estaciona" class="control-label">Precio Estacionamiento *</label>
												<input id="precio_Estaciona"
													   class="form-control"
													   type="text"
													   name="precio_Estaciona-reg"
													   maxlength="30"
													   th:field="*{precio_Estaciona}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{precio_Estaciona}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="estacionamiento" class="control-label">Estacionamiento *</label>
												<input id="estacionamiento"
													   class="form-control"
													   type="text"
													   name="estacionamiento-reg"
													   maxlength="30"
													   th:field="*{estacionamiento}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{estacionamiento}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="precio_Total" class="control-label">Precio Total *</label>
												<input id="precio_Total"
													   class="form-control"
													   type="text"
													   name="precio_Total-reg"
													   maxlength="30"
													   th:field="*{precio_Total}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{precio_Total}"></div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6">
											<div class="form-group label-floating">
												<label for="deposito" class="control-label">Deposito *</label>
												<input id="deposito"
													   class="form-control"
													   type="text"
													   name="deposito-reg"
													   maxlength="30"
													   th:field="*{deposito}"
													   th:errorclass="is-invalid">

												<div class="invalid-feedback" th:errors="*{deposito}"></div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<br>
							<div class="text-center" style="margin-top: 20px;">
								<div style="display: inline-block;">
									<a th:href="@{/inmuebles}" type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-close-circle zmdi-hc-lg"></i> CANCELAR</a>
								</div>
								<div style="display: inline-block; margin-left: 10px;">
									<button type="submit" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy zmdi-hc-lg"></i> [[${inmueble.id ne null ? 'Actualizar' : 'Guardar'}]] Inmueble</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</section>
	</div>


	<!--====== Scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/sweetalert2.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/material.min.js}"></script>
	<script th:src="@{/js/ripples.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	
	<div layout:fragment="scripts">
	<script th:inline="javascript">
	
		$("#ulRegistro").addClass("show-sideBar-SubMenu")
	
		$("#liInmuebles").addClass("active")
	
		$("#ulAdministraciónAdmin").addClass("show-sideBar-SubMenu")
		
		$("#liInmueblesAdmin").addClass("active")
	
		
		</script>
	</div>
</body>
</html>