<!DOCTYPE html>
<html lang="es"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{master.html}">
<head>
	<title>Inmuebles</title>
	<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="contenido_personalizado">

		<!-- Content page-->
		<section class="full-box dashboard-contentPage">
			<!-- NavBar -->
			<nav class="full-box dashboard-Navbar">
				<ul class="full-box list-unstyled text-right">
					<li class="pull-left">
						<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
					</li>
				</ul>
			</nav>
			<!-- Content page -->
			<div class="container-fluid">
				<div class="page-header">
					<h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Registros <small> INMUEBLES</small></h1>
				</div>
			</div>

			<div class="container-fluid">
				<ul class="breadcrumb breadcrumb-tabs">
					<li sec:authorize="hasRole('ADMIN')">
						<a th:href="@{/inmuebles/nuevo}" class="btn btn-info">
							<i class="zmdi zmdi-plus"></i> &nbsp; NUEVO INMUEBLE
						</a>
					</li>
					<li>
						<a th:href="@{/inmuebles}" class="btn btn-warning">
							<i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE INMUEBLES
						</a>
					</li>
					
					<li sec:authorize="hasRole('VENDEDOR')">
						<a th:href="@{/datos/nuevo}" class="btn btn-info"> <i
							class="zmdi zmdi-plus"></i> &nbsp; NUEVO CLIENTE
						</a>
					</li>
					<li sec:authorize="hasRole('VENDEDOR')">
						<a th:href="@{/pagos/nuevo}" class="btn btn-primary"> <i
							class="zmdi zmdi-plus"></i> &nbsp; NUEVO PAGO
						</a>
					</li>
					<li sec:authorize="hasRole('VENDEDOR')">
						<a th:href="@{/proforma/nuevo}" class="btn btn-danger"> <i
							class="zmdi zmdi-plus"></i> &nbsp; NUEVA PROFORMA
						</a>
					</li>
					<li sec:authorize="hasRole('VENDEDOR')">
						<a th:href="@{/proforma}" class="btn btn-success"> <i
							class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE PROFORMA
						</a>
					</li>
					<li sec:authorize="hasRole('ADMIN')">
						<a th:href="@{/inmuebles/buscador}" class="btn btn-success">
							<i class="zmdi zmdi-search"></i> &nbsp; BUSCADOR DE INMUEBLES COMPRADOS
						</a>
					</li>
					
				</ul>
			</div>


			<div class="container-fluid">
				<form class="well">
					<div class="row">
						<div class="col-xs-12 col-md-8 col-md-offset-2">
							<div class="form-group label-floating">
								<span class="control-label">¿Que estas buscando?</span>
								<input placeholder="Buscar por Departamento" class="form-control" type="text" name="departamento" th:value="${param.departamento}">
							</div>
						</div>
						<div class="col-xs-6">
							<p class="text-center">
								<button type="submit" class="btn btn-warning btn-raised btn-sm"><i class="zmdi zmdi-search"></i> &nbsp; Buscar</button>
							</p>
						</div>
						<div class="col-xs-6">
							<p class="text-center">
								<button type="button" class="btn btn-warning btn-raised btn-sm" th:value="Limpiar" th:onclick="limpiarBusqueda()"><i class="zmdi zmdi-search-for zmdi-hc-lg"></i> &nbsp; Limpiar Busqueda</button>
							</p>
						</div>
					</div>
				</form>

			</div>
			<!-- Panel listado de administradores -->
			<div class="container-fluid">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE INMUEBLES</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-hover text-center">
								<thead>
								<tr>
									<th class="text-center">PROYECTO</th>
									<th class="text-center">DEPARTAMENTO</th>
									<th class="text-center">PRECIO DEPARTAMENTO</th>
									<th class="text-center">AREA</th>
									<th class="text-center">PRECIO ESTACIONAMIENTO</th>
									<th class="text-center">ESTACIONAMIENTO</th>
									<th class="text-center">PRECIO TOTAL</th>
									<th class="text-center">DEPOSITO</th>
									<th class="text-center">OPCIONES</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="inmueble : ${inmueblePage.content}" th:object="${inmueble}">
									<td th:text="*{proyecto}"></td>
									<td th:text="*{departamento}"></td>
									<td th:text="*{precio_Departamento}"></td>
									<td th:text="*{area_Depa}"></td>
									<td th:text="*{precio_Estaciona}"></td>
									<td th:text="*{estacionamiento}"></td>
									<td th:text="*{precio_Total}"></td>
									<td th:text="*{deposito}"></td>
									<td>
										<div class="btn btn-group btn-group-sm">
											<a sec:authorize="hasRole('ADMIN')" th:href="@{/inmuebles/{id}/editar(id=*{id})}" title="Editar" class="btn btn-primary">
												<i class="zmdi zmdi-edit zmdi-hc-lg"></i>
											</a>
											<a href="#!"  class="btn btn-danger" onclick="eliminarInmuebles(this)" title="Eliminar">
												<i class="zmdi zmdi-delete zmdi-hc-lg"></i>
											</a>

											<form th:action="@{/inmuebles/{id}/eliminar(id=*{id})}" method="post">
											</form>
										</div>
									</td>
								</tr>

								</tbody>
							</table>
						</div>
						<nav class="text-center">
							<div sd:pagination-summary=""></div>
							<nav class="mt-4">
								<ul class="pagination justify-content-center" sd:pagination-split="7" sd:pagination="full"></ul>
							</nav>
						</nav>
					</div>
				</div>
			</div>
		</section>

	</div>
	<!-- SideBar -->


	<!--====== Scripts -->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/sweetalert2.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/material.min.js}"></script>
	<script th:src="@{/js/ripples.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script>
		$.material.init();
	</script>
	<div layout:fragment="scripts">
	<script th:inline="javascript">
	
	$("#ulRegistro").addClass("show-sideBar-SubMenu")
	
	$("#liInmuebles").addClass("active")
	
	$("#ulAdministraciónAdmin").addClass("show-sideBar-SubMenu")
		
	$("#liInmueblesAdmin").addClass("active")
	
		var msgOK = [[${msgExitoInmueble}]]
		
		var msgError = [[${msgError}]]
		
		if(msgOK){			
			swal({"icon": "success", "title": "Muy Bien", "text": msgOK})
		}
		
		if(msgError){			
			swal({"icon": "error", "title": "Algo salio mal", "text": msgError})
		}
	</script>
		<script>
    	function eliminarInmuebles(element) {
        	console.log('elemento', element);

        swal({
            title: "¿Estas seguro de deshabilitar el INMUEBLE?",
            text: "Una vez eliminado no se podra recuperar.",
            icon: "warning",
            closeOnClickOutside: false,
            dangerMode: true,
            buttons: {
                cancel: {
                    text: "No",
                    visible: true,
                    closeModal: true,
                },
                confirm: {
                    text: "Si, Eliminar",
                    value: true,
                    visible: true,
                    closeModal: true
                }
            }
        }).then((willDelete) => {
            if (willDelete) {
                element.nextElementSibling.submit();
            } else {
                swal({
                    icon: "success",
                    title: "No se realizó ningún cambio!",
                });
            }
        });
    	}
    	function limpiarBusqueda(){
	        window.location='/inmuebles';
	    }
</script>

	</div>


</body>
</html>